<footer>
  Powered by
  <a href="https://writr.org/" target="_blank" rel="noopener noreferrer"><img
      src="https://writr.org/logo.svg"
      alt="Writr logo"
      width="122"
      height="32"
    />
  </a>
</footer>
