<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header }}
    <title>{{ siteTitle }}</title>
  </head>

  <body>
    {{> hero }}
    {{> content }}
    {{> footer}}

    {{> scripts }}
  </body>
</html>
