name: release

on:
  workflow_dispatch:
  release:
    types: [released]

permissions:
  contents: read

jobs:
  release:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - name: Install Dependencies
      run: npm install -g pnpm && pnpm install

    - name: Build    
      run: pnpm build

    - name: Testing    
      run: pnpm test:ci

    - name: Publish
      run: pnpm publish --ignore-scripts --no-git-checks --provenance --access public


