name: release

on:
  workflow_dispatch:
  release:
    types: [released]

permissions:
  contents: read
  id-token: write

jobs:
  release:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 24

    - name: Install Dependencies
      run: npm install -g pnpm && pnpm install

    - name: Build    
      run: pnpm build

    - name: Testing    
      run: pnpm test:ci

    - name: Setup npm auth
      run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

    - name: Publish
      run: pnpm publish --access public --no-git-checks


